* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    padding-top: 20px;
}


header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
    padding: 20px;
    margin-bottom: 50px;
}

.link-header {
    font-weight: 400;
    font-size: 18px; 
    line-height: 22px;
    color: #989D9C;
    cursor: pointer;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 100px; 
    height: 35px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 20px;
}

.logo-image {
    width: 80vw; 
    max-width: 350px; 
    height: auto;
    margin-bottom: 40px;
}

section {
    padding: 0 10px;
}

h1 {
    font-weight: 900;
    font-size: 50px; 
    line-height: 60px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #515151;
    margin-bottom: 15px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
    width: 100%; 
    max-width: 515px; 
    margin: 20px auto 40px; 
}

.button-main {
    background: #00ff00;
    border-radius: 30px;
    width: 200px; 
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 40px; 
}


@media screen and (min-width: 900px) {

    
    header {
        flex-direction: row;
        justify-content: flex-start; 
        margin: 44px 0 144px 76px; 
    }
    .link-header {
        font-size: 24px; 
        margin-right: 23px;
    }
    
    .button-header {
        
        margin-right: 76px;
        width: 130px;
        height: 41px;
        font-size: 24px;
    }

    
    main {
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0;
    }

    .logo-image {
        width: 568px; 
        height: 500px;
        margin-left: 125px;
        max-width: none;
    }

    section {
        margin-left: 86px;
        padding: 0;
    }

    h1 {
        font-size: 100px;
        line-height: 122px;
    }

    h2 {
        font-size: 58px;
        line-height: 71px;
    }
    
    p {
        font-size: 24px;
        line-height: 29px;
        width: 515px;
        margin-top: 32px;
        margin-bottom: 65px;
        margin-left: 0;
    }

    .button-main {
        width: 239px;
        height: 64px;
        font-size: 28px;
        margin-bottom: 0;
    }
}